{erl_opts, [
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_missing_spec,
    warn_untyped_record,
    debug_info,
    warnings_as_errors,
    {parse_transform}
]}.

{project_plugins, [erlfmt, rebar3_lint]}.

{erlfmt, [
    write,
    {files, ["src/**/*.{hrl,erl,app.src}", "rebar.config", "rebar.config.script"]}
]}.

{dialyzer, [
    {plt_apps, all_deps},
    {plt_extra_apps, [jiffy]},
    {plt_location, "priv/dialyzer_plt"}
]}.

{
    elvis,
    [
        #{
            dirs => ["apps/*/src/**", "src/**"],
            filter => "*.erl",
            ruleset => erl_files
        },
        #{
            dirs => ["."],
            filter => "rebar.config",
            ruleset => rebar_config
        }
    ]
}.

{profiles, [
    {test, [
        {erl_opts, [
            nowarn_missing_spec,
            nowarn_export_all
        ]}
    ]}
]}.

{deps, [
    {jiffy, "1.1.1"}
]}.
